<% include layout.ejs %>
<main>
    <h2><%= poll.question %></h2>
    <form action="/polling-app/polls/<%= poll.id %>/vote" method="POST">
        <% poll.options.forEach(option => { %>
            <label>
                <input type="radio" name="option" value="<%= option %>" required> <%= option %>
            </label><br>
        <% }) %>
        <button type="submit">Vote</button>
    </form>

    <h3>Results</h3>
    <ul>
        <% Object.keys(poll.votes).forEach(option => { %>
            <li><%= option %>: <%= poll.votes[option] || 0 %> votes</li>
        <% }) %>
    </ul>
</main>
